<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="%UserProfile%\.nuget\packages" />
    <add key="signatureValidationMode" value="accept" />
  </config>
  <packageSources>
    <clear />
    <add key="Local Global Packages" value="%UserProfile%\.nuget\packages" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
</configuration>
